# Git specific files
/.git

# IDE specific files
/.idea
/.vscode

# Terraform related files
tf/secret.*
**/.terraform
/.terraform.lock.hcl

# Python specific files
**/__pycache__
/.pytest_cache
/.coverage
/coverage.xml

# Test specific files
/tests/test*.json
